<?xml version="1.0" encoding="UTF-8"?>
<!--
 Licensed to the Apache Software Foundation (ASF) under one
 or more contributor license agreements.  See the NOTICE file
 distributed with this work for additional information
 regarding copyright ownership.  The ASF licenses this file
 to you under the Apache License, Version 2.0 (the
 "License"); you may not use this file except in compliance
 with the License.  You may obtain a copy of the License at

  http://www.apache.org/licenses/LICENSE-2.0

 Unless required by applicable law or agreed to in writing,
 software distributed under the License is distributed on an
 "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 KIND, either express or implied.  See the License for the
 specific language governing permissions and limitations
 under the License.
-->
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.apache.inlong.manager.dao.mapper.StreamSourceMapper">
    <resultMap id="BaseResultMap" type="org.apache.inlong.manager.dao.entity.StreamSource">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="task_type" jdbcType="INTEGER" property="taskType"/>
        <result column="inlong_group_id" jdbcType="VARCHAR" property="inlongGroupId"/>
        <result column="inlong_stream_id" jdbcType="VARCHAR" property="inlongStreamId"/>
        <result column="agent_ip" jdbcType="VARCHAR" property="agentIp"/>
        <result column="uuid" jdbcType="VARCHAR" property="uuid"/>
        <result column="server_name" jdbcType="VARCHAR" property="serverName"/>
        <result column="is_hybrid_source" jdbcType="INTEGER" property="isHybridSource"/>
        <result column="is_table_mapping" jdbcType="INTEGER" property="isTableMapping"/>
        <result column="date_offset" jdbcType="INTEGER" property="dateOffset"/>
        <result column="date_offset_unit" jdbcType="VARCHAR" property="dateOffsetUnit"/>
        <result column="task_config" jdbcType="VARCHAR" property="taskConfig"/>
        <result column="status" jdbcType="INTEGER" property="status"/>
        <result column="previous_status" jdbcType="INTEGER" property="previousStatus"/>
        <result column="is_deleted" jdbcType="INTEGER" property="isDeleted"/>
        <result column="creator" jdbcType="VARCHAR" property="creator"/>
        <result column="modifier" jdbcType="VARCHAR" property="modifier"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="modify_time" jdbcType="TIMESTAMP" property="modifyTime"/>
        <result column="temp_view" jdbcType="LONGVARCHAR" property="tempView"/>
    </resultMap>

    <resultMap id="DataConfig" type="org.apache.inlong.agent.plugin.fetcher.dtos.DataConfig">
        <result column="inlong_group_id" jdbcType="VARCHAR" property="inlongGroupId"/>
        <result column="inlong_stream_id" jdbcType="VARCHAR" property="inlongStreamId"/>
        <result column="modify_time" jdbcType="VARCHAR" property="deliveryTime"/>
        <result column="uuid" jdbcType="VARCHAR" property="uuid"/>
        <result column="agent_ip" jdbcType="VARCHAR" property="ip"/>
        <result column="op" jdbcType="VARCHAR" property="op"/>
        <result column="id" jdbcType="VARCHAR" property="taskId"/>
        <result column="task_type" jdbcType="INTEGER" property="taskType"/>
        <result column="task_config" jdbcType="VARCHAR" property="taskConfig"/>
    </resultMap>

    <sql id="Base_Column_List">
        id, task_type, inlong_group_id, inlong_stream_id, agent_ip, uuid, server_name, is_hybrid_source, is_table_mapping,
        date_offset, date_offset_unit, task_config, status, previous_status,
        is_deleted, creator, modifier, create_time, modify_time, temp_view
    </sql>

    <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from stream_source
        where id = #{id,jdbcType=INTEGER}
    </select>

    <select id="selectAgentTaskDataConfig" parameterType="org.apache.inlong.agent.plugin.fetcher.dtos.TaskRequestDto" resultMap="DataConfig">
        select
               detail.inlong_group_id,
               detail.inlong_stream_id,
               detail.modify_time,
               detail.uuid,
               detail.agent_ip,
               detail.status mod 100                             as op,
               detail.id,
               detail.task_type,
               detail.task_config,
        from stream_source detail,
        where  detail.is_deleted = 0
            <if test="agentIp != null and agentIp != ''">
                and detail.agent_ip = #{agentIp, jdbcType=VARCHAR}
            </if>
            <if test="uuid != null and uuid != ''">
                and detail.uuid = #{uuid, jdbcType=VARCHAR}
            </if>
            and (floor(detail.STATUS / 100) = 2)
    </select>
</mapper>